[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	email = foxnne@gmail.com
	name = foxnne
[pull]
	rebase = false
[core]
	editor = cursor --wait
